* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 8px;
  border-radius: 10px;
  height: 42px;
}

.btn__buy--colors {
  width: 152px;
  background-color: #f8d24e;
}

.btn__buy--colors:hover {
  background-color: #0a8817;
}

.btn__buy--colors:focus {
  color: white;
}

.btn__buy--colors:disabled {
  background-color: #ababab;
}

.btn__made--transparent {
  width: 154px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: #f8d24e;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.btn__made--transparent:hover {
  color: #0a8817;
}

.btn__made--transparent:focus {
  color: white;
}

.btn__made--transparent:disabled {
  border: 2px solid #ababab;
}

.btn__location--colors {
  width: 196px;
  background-color: #f8d24e;
}

.btn__location--colors:hover {
  background-color: #0a8817;
  fill: white;
  color: white;
}

.btn__location--colors:focus {
  color: white;
}

.btn__location--colors:disabled {
  background-color: #ababab;
}

.btn__products--transparent {
  width: 134px;
  border: 2px solid #f8d24e;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.btn__products--transparent:hover {
  border: 2px solid #0a8817;
}

.btn__products--transparent:focus {
  color: white;
}

.btn__products--transparent:disabled {
  border: 2px solid #ababab;
}

.btn__franchise--transparent {
  width: 196px;
  border: 2px solid #f8d24e;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.btn__franchise--transparent:hover {
  border: 2px solid #0a8817;
}

.btn__franchise--transparent:focus {
  color: white;
}

.btn__franchise--transparent:disabled {
  border: 2px solid #ababab;
}

.btn-menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 8px;
  border-radius: 10px;
  height: 42px;
}

.btn-menu__buy--colors {
  width: 152px;
  background-color: #f8d24e;
}

.btn-menu__buy--colors:hover {
  background-color: #0a8817;
}

.btn-menu__buy--colors:focus {
  color: white;
}

.btn-menu__buy--colors:disabled {
  background-color: #ababab;
}

.header {
  background-color: #84A178;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: white;
  position: relative;
  z-index: 100;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FCFCFC;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  background: #0a8817;
  height: 2px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.menu__item-link:hover {
  color: #0a8817;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__item-link:focus {
  color: #fefefe;
}

.menu__item-link:focus:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__item-link:disabled {
  color: #ABABAB;
}

.menu__item-link:disabled:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__item-link--current {
  color: #f8d24e;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.hero {
  background-color: #84A178;
  position: relative;
  bottom: 1px;
  background-image: url(../img/vector/specks.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-height: 564px;
}

.hero__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 28px;
}

.hero__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-top: 42px;
}

.hero__items--left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 584px;
          flex: 0 1 584px;
}

.hero__items--right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 584px;
          flex: 0 1 584px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  width: 367px;
  height: 144px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  margin-top: 16px;
}

.hero__descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  max-height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: white;
  margin-top: 24px;
}

.hero__assets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.hero__cafes {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 56px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.hero__asset-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #FCFCFC;
  margin-top: 4px;
}

.products {
  background-image: url(../img/plywood.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.products__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  padding-top: 58px;
}

.products__title--next {
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #131313;
  padding-top: 12px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 61px;
}

.product__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__wrraper-img {
  position: relative;
  top: 145px;
}

.product__img {
  max-width: 302px;
  max-height: 318px;
}

.product__box {
  height: 536px;
  width: 370px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__box--green {
  background: #AEC6A5;
}

.product__box--yellow {
  background: #EFD478;
}

.product__box--orange {
  background: #D6936D;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 66px;
}

.product__title--spase {
  position: relative;
  top: 28px;
}

.product__description {
  width: 246px;
  margin-bottom: 80px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}

.product__arrow {
  margin-bottom: 60px;
}

.made {
  background: #84A178;
}

.made__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
  padding-top: 60px;
  padding-bottom: 82px;
}

.made__title--next {
  font-size: 36px;
  line-height: 1.25;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 12px;
}

.made__img {
  width: 530px;
  height: 529px;
}

.made__regalia-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  padding-bottom: 180px;
  gap: 150px;
}

.made__regalia-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.made__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F8D24E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.made__namber {
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 71px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.made__description {
  margin-top: 12px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FCFCFC;
  width: 270px;
}

.made__btn {
  margin-top: 54px;
}

.reade-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 109px;
}

.reade-more__description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.reade-more--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 463px;
  gap: 8px;
}

.slider {
  position: relative;
  top: -120px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__big-img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.slider__img {
  margin-top: 140px;
  width: 85px;
  width: 85px;
}

.slider__text {
  padding: 45px 109px;
  background: #84A178;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FCFCFC;
  border-radius: 24px;
  margin-top: 32px;
}

.slider__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  color: #131313;
  margin-top: 32px;
}

@media (min-width: 479.98px) {
  .btn-menu {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .logo__svg--desctop {
    display: block;
  }

  .logo__svg--tablet {
    display: none;
  }

  .logo__svg--mobile {
    display: none;
  }

  .logo__svg--next-mobile {
    display: none;
  }
}

@media (min-width: 1199.98px) {
  .navbar {
    padding: 8px 0;
  }
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
    padding: 0 10px;
  }

  .btn__made--transparent {
    width: 106px;
    height: 24px;
    font-size: 12px;
    line-height: 1.25;
  }

  .btn__products--transparent {
    width: 108px;
    height: 38px;
    font-size: 12px;
    line-height: 1.25;
  }

  .navbar {
    padding: 20px 0;
  }

  .logo__svg--desctop {
    display: none;
  }

  .logo__svg--tablet {
    display: block;
  }

  .logo__svg--mobile {
    display: none;
  }

  .logo__svg--next-mobile {
    display: none;
  }

  .menu__item-link--current {
    color: black;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    height: 20px;
    width: 30px;
    right: 220px;
  }

  .burger.active {
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .burger.active:before {
    background: white;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: white;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 8.5px;
    right: 0;
    width: 100%;
    background: white;
    height: 3px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: #84A178;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
    padding-top: 140px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .btn__buy--colors {
    display: none;
  }

  .btn-menu {
    margin-top: 114px;
  }

  .navbar {
    padding: 12px 0;
  }

  .logo__svg--desctop {
    display: none;
  }

  .logo__svg--tablet {
    display: none;
  }

  .logo__svg--mobile {
    display: block;
  }

  .logo__svg--next-mobile {
    display: none;
  }

  .menu__item-link {
    font-size: 32px;
    line-height: 1.22;
  }

  .burger {
    position: absolute;
    top: 24px;
    right: 20px;
  }
}

@media (max-width: 319.98px) {
  .btn-menu {
    margin-top: 110px;
  }

  .logo__svg--desctop {
    display: none;
  }

  .logo__svg--tablet {
    display: none;
  }

  .logo__svg--mobile {
    display: none;
  }

  .logo__svg--next-mobile {
    display: block;
  }

  .burger {
    position: absolute;
    top: 25px;
    right: 20px;
  }
}